.button {
    min-height: 35px;

    border: none;
    border-radius: 5px;

    font-weight: bold;
    letter-spacing: 1.5px;

    font-family: inherit;
    font-size: 12px;

    transition: all 0.1s ease;

    cursor: pointer;

    color: inherit;

    background-color: var(--ex-button-bk);
}
.button:hover {
    background-color: var(--ex-button-hover-bk);
}
.button:active {
    background-color: var(--ex-button-active-bk);
}

.button.info {
    background-color: var(--info-color);
    color: #fff;
}
.button.info:hover {
    background-color: var(--info-hover-color);
}
.button.info:active {
    background-color: var(--info-active-color);
}
.button.success {
    background-color: var(--success-color);
    color: #fff;
}
.button.success:hover {
    background-color: var(--success-hover-color);
}
.button.success:active {
    background-color: var(--success-active-color);
}
.button.warning {
    background-color: var(--warning-color);
    color: #fff;
}
.button.warning:hover {
    background-color: var(--warning-hover-color);
}
.button.warning:active {
    background-color: var(--warning-active-color);
}
.button.error {
    background-color: var(--error-color);
    color: #fff;
}
.button.error:hover {
    background-color: var(--error-hover-color);
}
.button.error:active {
    background-color: var(--error-active-color);
}
.button.tip {
    background-color: var(--tip-color);
    color: #fff;
}
.button.tip:hover {
    background-color: var(--tip-hover-color);
}
.button.tip:active {
    background-color: var(--tip-active-color);
}