.profileSidebar {
    background-color: var(--sidebar-user-bk);
    border-radius: 10px 0 0 10px;
}

span.name {
    text-wrap: nowrap;
    font-size: small;
}

.last {
    margin-left: auto;
}

.addAccountButton {
    align-self: center;
    background: none;
    height: 30px;
}
