.profileSidebar {
    background-color: var(--bk-color);
    border-radius: 10px 0 0 10px;
    color: var(--font-color);
    z-index: var(--sidebar-z);
}

span.name {
    text-wrap: nowrap;
    font-size: small;
}

.last {
    margin-left: auto;
}

.addAccountButton {
    align-self: center;
    background: none;
    height: 30px;
}

.taglink {
    text-decoration: none;
    margin-left: 10px;
}