body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--font-color);
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

/* LAYOUT */

.flex {
  display: flex;
}
.flex.col,
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}

/* COLUMN ALIGNMENTS */
.flex.col .top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex.col .top-center {
  justify-content: flex-start;
  align-items: center;
}
.flex.col .top-right {
  justify-content: flex-start;
  align-items: flex-end;
}
.flex.col .center-left {
  justify-content: center;
  align-items: flex-start;
}
.flex.col .center {
  justify-content: center;
  align-items: center;
}
.flex.col .center-right {
  justify-content: center;
  align-items: flex-end;
}
.flex.col .bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex.col .bottom-center {
  justify-content: flex-end;
  align-items: center;
}
.flex.col .bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex.col .stretch-h {
  align-items: stretch;
}
.flex.col .stretch-v {
  justify-content: stretch;
}

/* ROW ALIGNMENTS */
.flex.row .top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex.row .top-center {
  justify-content: center;
  align-items: flex-start;
}
.flex.row .top-right {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex.row .center-left {
  justify-content: flex-start;
  align-items: center;
}
.flex.row .center {
  justify-content: center;
  align-items: center;
}
.flex.row .center-right {
  justify-content: flex-end;
  align-items: center;
}
.flex.row .bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}
.flex.row .bottom-center {
  justify-content: center;
  align-items: flex-end;
}
.flex.row .bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex.row .stretch-h {
  justify-content: stretch;
}
.flex.row .stretch-v {
  align-items: stretch;
}

.flex.g0 {
  gap: 0;
}
.flex.g5 {
  gap: 5px;
}
.flex.g10 {
  gap: 10px;
}
.flex.g15 {
  gap: 15px;
}
.flex.g20 {
  gap: 20px;
}
.flex.g25 {
  gap: 25px;
}
.flex.g30 {
  gap: 30px;
}

.start-self {
  align-self: flex-start !important;
}
.center-self {
  align-self: center !important;
}
.end-self {
  align-self: flex-end !important;
}
.stretch-self {
  align-self: stretch !important;
}

.hfirst {
  margin-right: auto;
}
.hlast {
  margin-left: auto;
}
.vfirst {
  margin-bottom: auto;
}
.vlast {
  margin-top: auto;
}

/* FILTERS */

.white {
  filter: var(--filter-white);
}
.black {
  filter: var(--filter-black)
}

/* BORDER-RADIUS */

.r5 {
  border-radius: 5px !important;
}
.r10 {
  border-radius: 10px !important;
}
.r100 {
  border-radius: 100% !important;
}

/* PADDING */

.pad5 {
  padding: 5px;
}
.pad10 {
  padding: 10px;
}
.pad20 {
  padding: 20px;
}
.padh5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padh10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padh20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padv10 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* FONTS */

.caption {
  color: var(--caption-font-color);
}
.subtitle {
  color: var(--subtitle-font-color);
}
.title {
  color: var(--title-font-color);
}
.display {
  color: var(--display-font-color);
}

/* PALETTE PREFABS */

.textbutton {
  background: var(--textbutton-bk);
}
.textbutton:hover {
  background: var(--button-hover-bk);
}
.textbutton:active {
  background: var(--button-active-bk);
}

.dstu-accent-button {
  background: var(--dstu-dark-blue);
}
.dstu-accent-button:hover {
  opacity: 1.1;
}
.dstu-accent-button:active {
  opacity: 1.2;
}

.fixed1280 {
  width: 1280px;
}

/* SIZES */

.rect5 {
  width: 5px;
  height: 5px;
}
.rect10 {
  width: 10px;
  height: 10px;
}
.rect15 {
  width: 15px;
  height: 15px;
}
.rect20 {
  width: 20px;
  height: 20px;
}
.rect25 {
  width: 25px;
  height: 25px;
}
.rect30 {
  width: 30px;
  height: 30px;
}
.rect35 {
  width: 35px;
  height: 35px;
}
.rect40 {
  width: 40px;
  height: 40px;
}
.rect45 {
  width: 45px;
  height: 45px;
}
.rect50 {
  width: 50px;
  height: 50px;
}
.rect55 {
  width: 55px;
  height: 55px;
}
.rect60 {
  width: 60px;
  height: 60px;
}
.rect65 {
  width: 65px;
  height: 65px;
}

.fullh {
  width: 100%;
}
.fullv {
  height: 100%;
}

/* SHITCODE */

.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  
    padding: 10px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .panel {
    padding: 10px;
    border-radius: 15px;
  
    box-shadow: var(--panel-shadow);
  
    transition: all 0.1s ease;
  }
  .panel.hover:hover {
    box-shadow: var(--panel-hover-shadow);
  }
  
  .y-scroll {
    overflow-y: auto;
  }
  .x-scroll {
    overflow-x: auto;
  }
  .hide-scroll {
    scrollbar-width: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .accent-item {
    background: var(--accent-background-color);
    color: var(--accent-font-color);
  
    font-weight: bold;
  
    border: none;
    border-radius: 20px;
  
    padding: 5px 10px 5px 10px;
  }
  
  .lighter-hover:hover {
    filter: brightness(1.1);
  }
  .lighter-active:active {
    filter: brightness(1.2);
  }
  .darker-hover:hover {
    filter: brightness(0.9);
  }
  .darker-active:active {
    filter: brightness(0.8);
  }
  
  h1 {
    margin: 0;
    color: var(--title-color);
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  
    border-radius: 15px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0);
  }
  ::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
  }
  ::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
  }
  
  *:hover::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
  }
  *:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
  
  input {
    background-color: transparent;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus{
    background-color: transparent;
    transition: background-color 50000s ease-in-out 0s;
  }
  
  .dstuLabelForm {
      margin-top: 20px;
      width: 400px;
      border-radius: 5px;
      background: #fff;
  }
  
  .icon-s {
    width: 20px;
    height: 20px;
  }
  .icon-m {
    width: 25px;
    height: 25px;
  }
  .icon-l {
    width: 30px;
    height: 30px;
  }
  .icon-g {
    width: 40px;
    height: 40px;
  }
  
  .round {
    border-radius: 100%;
  }