* {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--font-color);
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

    /* background-color: var(--code-bk);
    color: var(--code-font-color);

    padding: 2px 5px 2px 5px;
    border-radius: 5px; */
}

p {
  margin: 0;
  line-height: 25px;
}

a {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: var(--accent-color-hover);
}
a:active {
  color: var(--accent-color-active);
} 
  
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

/* PALETTE PREFABS */

accent {
  color: var(--accent-color);
}

.colorbutton {
  color: var(--colorbutton-color) !important;
}
.colorbutton:hover {
  color: var(--colorbutton-color-hover) !important;
}
.colorbutton:active {
  color: var(--colorbutton-color-active) !important;
}

.textbutton {
  background: var(--textbutton-bk) !important;
}
.textbutton:hover {
  background: var(--button-hover-bk) !important;
}
.textbutton:active {
  background: var(--button-active-bk) !important;
}

.textbutton-less {
  background: var(--textbutton-bk) !important;
}

.accent-button {
  background-color: var(--accent-color) !important;
  color: var(--accent-font-color) !important;
}
.accent-button:hover {
  background-color: var(--accent-color-hover) !important;
  color: var(--accent-font-color-hover) !important;
}
.accent-button:active {
  background-color: var(--accent-color-active) !important;
  color: var(--accent-font-color-active) !important;
}

.dstu-accent-button {
  background-color: var(--dstu-accent-button-bk) !important;
  color: #fff !important;
}
.dstu-accent-button:hover {
  background-color: var(--dstu-accent-button-hover-bk) !important;
}

.linkbutton {
  background-color: transparent !important;
  color: var(--accent-color) !important;
}
.linkbutton:hover {
  color: var(--tip-color) !important;
}
.linkbutton:active {

}

.fixed1280 {
  width: 1280px;
}

.panel {
  padding: 10px;
  border-radius: 15px;

  box-shadow: var(--panel-shadow);

  transition: box-shadow 0.1s ease;

  background-color: var(--panel-bk);
}
.panel.hover:hover {
  box-shadow: var(--panel-hover-shadow);
}

h1.article {
  border-bottom: 1px solid var(--accent-color);
  line-height: 50px;
}

.none {
  display: none;
}

/* LAYOUT */

.flex {
  display: flex;
}
.flex.col,
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}

/* COLUMN ALIGNMENTS */
.flex.col.top-left,
.flex.column.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex.col.top-center,
.flex.column.top-center {
  justify-content: flex-start;
  align-items: center;
}
.flex.col.top-right,
.flex.column.top-right {
  justify-content: flex-start;
  align-items: flex-end;
}
.flex.col.center-left,
.flex.column.center-left {
  justify-content: center;
  align-items: flex-start;
}
.flex.col.center,
.flex.column.center {
  justify-content: center;
  align-items: center;
}
.flex.col.center-right,
.flex.column.center-right {
  justify-content: center;
  align-items: flex-end;
}
.flex.col.bottom-left,
.flex.column.bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex.col.bottom-center,
.flex.column.bottom-center {
  justify-content: flex-end;
  align-items: center;
}
.flex.col.bottom-right,
.flex.column.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex.col.h-stretch,
.flex.column.h-stretch {
  align-items: stretch;
}
.flex.col.v-stretch,
.flex.column.v-stretch {
  justify-content: stretch;
}

/* ROW ALIGNMENTS */
.flex.row.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex.row.top-center {
  justify-content: center;
  align-items: flex-start;
}
.flex.row.top-right {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex.row.center-left {
  justify-content: flex-start;
  align-items: center;
}
.flex.row.center {
  justify-content: center;
  align-items: center;
}
.flex.row.center-right {
  justify-content: flex-end;
  align-items: center;
}
.flex.row.bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}
.flex.row.bottom-center {
  justify-content: center;
  align-items: flex-end;
}
.flex.row.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex.row.h-stretch {
  justify-content: stretch;
}
.flex.row.v-stretch {
  align-items: stretch;
}

.flex.g0 {
  gap: 0;
}
.flex.g5 {
  gap: 5px;
}
.flex.g10 {
  gap: 10px;
}
.flex.g15 {
  gap: 15px;
}
.flex.g20 {
  gap: 20px;
}
.flex.g25 {
  gap: 25px;
}
.flex.g30 {
  gap: 30px;
}

.start-self {
  align-self: flex-start !important;
}
.center-self {
  align-self: center !important;
}
.end-self {
  align-self: flex-end !important;
}
.stretch-self {
  align-self: stretch !important;
}

.flex-1 {
  flex: 1 !important
}
.flex-0-1 {
  flex: 0 1 !important;
}

.h-first {
  margin-right: auto;
}
.h-last {
  margin-left: auto;
}
.v-first {
  margin-bottom: auto;
}
.v-last {
  margin-top: auto;
}

.m-0 {
  margin: 0;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}

/* POSITION */

.rel,
.relative {
  position: relative;
}

.abs,
.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* FILTERS */

.white {
  filter: var(--filter-white);
}
.black {
  filter: var(--filter-black)
}

/* COLORS */

.c-w {
  color: white;
}
.c-b {
  color: black;
}

.no-bk {
  background: none;
}

/* BOX-SIZING */

.bb {
  box-sizing: border-box;
}

/* BORDER-RADIUS */

.r5 {
  border-radius: 5px !important;
}
.r10 {
  border-radius: 10px !important;
}
.r100 {
  border-radius: 100% !important;
}

/* PADDING */

.pad5 {
  padding: 5px;
}
.pad10 {
  padding: 10px;
}
.pad20 {
  padding: 20px;
}
.padh5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padh10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padh20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padv10 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* FONTS */

.caption {
  color: var(--caption-font-color);
}
.subtitle {
  color: var(--subtitle-font-color);
}
.title {
  color: var(--title-font-color);
}
.display {
  color: var(--display-font-color);
}

.color-inverse {
  color: var(--inverse-font-color) !important;
}
.color-light {
  color: #efefef !important;
}
.color-dark {
  color: #333 !important;
}

.h1 {
  font-size: var(--h1-font-size);
  font-weight: bold;
}
.h2 {
  font-size: var(--h2-font-size);
}

.wrap {
  text-wrap: wrap;
}
.nowrap {
  text-wrap: nowrap;
}

/* SIZES */

.rect5 {
  width: 5px;
  height: 5px;
}
.rect10 {
  width: 10px;
  height: 10px;
}
.rect15 {
  width: 15px;
  height: 15px;
}
.rect20 {
  width: 20px;
  height: 20px;
}
.rect25 {
  width: 25px;
  height: 25px;
}
.rect30 {
  width: 30px;
  height: 30px;
}
.rect35 {
  width: 35px;
  height: 35px;
}
.rect40 {
  width: 40px;
  height: 40px;
}
.rect45 {
  width: 45px;
  height: 45px;
}
.rect50 {
  width: 50px;
  height: 50px;
}
.rect55 {
  width: 55px;
  height: 55px;
}
.rect60 {
  width: 60px;
  height: 60px;
}
.rect65 {
  width: 65px;
  height: 65px;
}

.h-full {
  width: 100%;
}
.v-full {
  height: 100%;
}

/* SCROLLBAR */

.y-scroll {
  overflow-y: auto;
}
.x-scroll {
  overflow-x: auto;
}
.hide-scroll {
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;

  border-radius: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  /* border-radius: 10px; */
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}

*:hover::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
}
*:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

textarea {
  background-color: transparent;
  color: var(--font-color);
}

input {
  background-color: transparent !important;
  color: var(--font-color) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  background-color: transparent !important;
  transition: background-color 0s 600000s, color 0s 600000s !important;
  -webkit-text-fill-color: var(--font-color) !important;
}

/* CURSOR */

.pointer {
  cursor: pointer;
}

/* TEXT */

.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}

/* SHITCODE */

.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  
    padding: 10px;
  }
  
  
  
  .accent-item {
    background: var(--accent-background-color);
    color: var(--accent-font-color);
  
    font-weight: bold;
  
    border: none;
    border-radius: 20px;
  
    padding: 5px 10px 5px 10px;
  }
  
  .lighter-hover:hover {
    filter: brightness(1.1);
  }
  .lighter-active:active {
    filter: brightness(1.2);
  }
  .darker-hover:hover {
    filter: brightness(0.9);
  }
  .darker-active:active {
    filter: brightness(0.8);
  }
  
  h1 {
    margin: 0;
    color: var(--title-color);
  }
  
  .icon-s,
  .icon-s svg {
    width: 20px;
    height: 20px;
  }
  .icon-m,
  .icon-m svg {
    width: 25px;
    height: 25px;
  }
  .icon-l,
  .icon-l svg {
    width: 30px;
    height: 30px;
  }
  .icon-g,
  .icon-g svg {
    width: 40px;
    height: 40px;
  }
  
  .round {
    border-radius: 100%;
  }