body {
    /* DSTU COLORS */
    --dstu-dark-blue: #2a4a77;
    --dstu-blue: #4a76a8;
    --dstu-light-blue: #365da6;
    --dstu-error-color: #ff5252;

    /* RESULT STATES PALETTE */
    --info-color: #33b5e5;
    --tip-color: #8933ae;
    --success-color: #01c851;
    --warning-color: #ffbb34;
    --error-color: #ff5252;

    /* BUTTONS */
    --textbutton-bk: transparent;

    /* FILTERS */

    --filter-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(561%) hue-rotate(167deg) brightness(104%) contrast(101%);
    --filter-black: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(18%) hue-rotate(357deg) brightness(106%) contrast(106%);

    /* IMPORTANT */

    /* default grey: #9198a1 */

    /* SIZE */

    --user-sidebar-width: 350px;
    --header-height: 40px;

    /* SHITCODE */

    --accent-background-color: #77c0c6;
    --accent-font-color: #ffffff;
    --subaccent-background-color: #f3feff;
    --button-background-color: #c4dee0;
    --subtitle-highlighted-color: #243a51;
    --panel-background-color: #ededed;
    --panel-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    --panel-hover-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    --inset-panel-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    --outline-border-color: rgba(0, 0, 0, 0.7);
    --text-color: #202020;
    --dark-cover-color: #404645;
  
    --footer-min-height: 150px;
  
    --sidebar-width: 60px;
    --sidebar-hover-width: 250px;
  
    --dim-overlay-alpha: 0.5;
  
    --dropout-z: 200;

    --sidebar-dim-z: 500;
    --sidebar-z: 1000;

    --modal-z1: 2000;
    --modal-z2: 2001;
    --modal-z3: 2002;
    --modal-z4: 2003;
    --modal-z5: 2004;
    --modal-dim-offset: -500;

    --header-z: 400;
}

body.light {
    /*        */
    /* COLORS */
    /*        */

    /* BACKGROUND */
    --bk-color: #fefefe;
    --body-bk-color: #f8f8f8;
    --header-bk-color: var(--dstu-light-blue);
    --panel-bk: #fff;

    /* RESULT STATES PALETTE */
    --info-hover-color: #178eb9;
    --success-hover-color: #00963c;
    --warning-hover-color: #dfa023;
    --error-hover-color: #d82727;
    --tip-hover-color: #752797;
    --info-active-color: #106c8d;
    --success-active-color: #006b2b;
    --warning-active-color: #ac7915;
    --error-active-color: #ac1515;
    --tip-active-color: #5c1c77;

    /* BORDER */
    --border-color: #999;

    /* BUTTONS */
    --ex-button-bk: #ffffff;
    --ex-button-hover-bk: #c2c4ce;
    --ex-button-active-bk: #9597a1;
    --button-hover-bk: rgba(0, 0, 0, 0.2);
    --button-active-bk: rgba(0, 0, 0, 0.3);
    --button-theme-toggle-color: #000;
    --button-theme-toggle-bk: transparent;
    --button-theme-toggle-hover-bk: rgba(0, 0, 0, 0);
    --dstu-accent-button-bk: var(--dstu-dark-blue);
    --dstu-accent-button-hover-bk: var(--dstu-light-blue);
    --colorbutton-color: var(--font-color);
    --colorbutton-color-hover: color-mix(in srgb, var(--colorbutton-color) 50%, grey 50%);
    --colorbutton-color-active: color-mix(in srgb, var(--colorbutton-color) 50%, white 50%);

    /* HIGHLIGHT */
    --highlight-light: rgba(218, 218, 218, 0.5);

    /* SIDEBAR */
    --sidebar-user-bk: #fff;

    /* DROPDOWN */
    --dropdown-bk: #ddd;

    /* MODAL */
    --modal-bk: #fff;

    /* TEXT */
    --caption-font-color: #494949;
    --font-color: #333;
    --highlight-font-color: #5e6e7e;
    --inverse-font-color: #efefef;
    --subtitle-font-color: #222;
    --title-font-color: #000;
    --display-font-color: #77c0c6;
    --hint-color: #999;
    --code-bk: #f5f5f5;
    --code-font-color: #000;

    /* ACCENT */
    --accent-color: var(--dstu-dark-blue);
    --accent-color-hover: color-mix(in srgb, var(--accent-color) 50%, grey 50%);
    --accent-color-active: color-mix(in srgb, var(--accent-color) 50%, white 50%);
    --disabled-accent-color: rgb(204, 204, 204);
    --disabled-accent-color-hover: color-mix(in srgb, var(--disabled-accent-color) 50%, grey 50%);
    --disabled-accent-color-active: color-mix(in srgb, var(--disabled-accent-color) 50%, black 50%);
    --accent-font-color: #fff;
    --accent-font-color-hover: #fff;
    --accent-font-color-active: #fff;

    /*            */
    /* FULL PROPS */
    /*            */
    
    /* BORDER */
    --header-border: none;
}

body.dark {
    /*        */
    /* COLORS */
    /*        */    

    /* BACKGROUND */
    --bk-color: #1b1b1b;
    --body-bk-color: #292929;
    --header-bk-color: #1e1f22;
    --panel-bk: #333;
    
    /* RESULT STATES PALETTE */
    --info-hover-color: #178eb9;
    --success-hover-color: #00963c;
    --warning-hover-color: #dfa023;
    --error-hover-color: #d82727;
    --tip-hover-color: #752797;
    --info-active-color: #106c8d;
    --success-active-color: #006b2b;
    --warning-active-color: #ac7915;
    --error-active-color: #ac1515;
    --tip-active-color: #5c1c77;
    
    /* BORDER */
    --border-color: #3d444d;
    
    /* BUTTONS */
    --ex-button-bk: #4e5058;
    --ex-button-hover-bk: #6d6f78;
    --ex-button-active-bk: #777980;
    --button-bk: rgba(255, 255, 255, 0.03);
    --button-hover-bk: rgba(255, 255, 255, 0.05);
    --button-active-bk: rgba(255, 255, 255, 0.15);
    --button-theme-toggle-color: #fff;
    --button-theme-toggle-bk: transparent;
    --button-theme-toggle-hover-bk: rgba(0, 0, 0, 0);
    --dstu-accent-button-bk: var(--dstu-light-blue);
    --dstu-accent-button-hover-bk: var(--dstu-dark-blue);
    --colorbutton-color: var(--font-color);
    --colorbutton-color-hover: color-mix(in srgb, var(--colorbutton-color) 50%, grey 50%);
    --colorbutton-color-active: color-mix(in srgb, var(--colorbutton-color) 50%, black 50%);
    
    /* HIGHLIGHT */
    --highlight-light: rgba(48, 48, 48, 0.5);

    /* SIDEBAR */
    --sidebar-user-bk: #151b23;
    
    /* DROPDOWN */
    --dropdown-bk: #1b232e;
    
    /* MODAL */
    --modal-bk: #283546;
    
    /* TEXT */
    --caption-font-color: #9c9c9c;
    --font-color: #efefef;
    --highlight-font-color: #5e6e7e;
    --inverse-font-color: #333;
    --subtitle-font-color: #fefefe;
    --title-font-color: #fff;
    --display-font-color: #77c0c6;
    --hint-color: var(--highlight-font-color);
    --code-bk: #1e1f22;
    --code-font-color: #fff;
    
    /* ACCENT */
    --accent-color: var(--dstu-blue);
    --accent-color-hover: color-mix(in srgb, var(--accent-color) 50%, grey 50%);
    --accent-color-active: color-mix(in srgb, var(--accent-color) 50%, black 50%);
    --disabled-accent-color: rgb(68, 68, 68);
    --disabled-accent-color-hover: color-mix(in srgb, var(--disabled-accent-color) 50%, grey 50%);
    --disabled-accent-color-active: color-mix(in srgb, var(--disabled-accent-color) 50%, black 50%);
    --accent-font-color: #fff;
    --accent-font-color-hover: #fff;
    --accent-font-color-active: #fff;

    /*            */
    /* FULL PROPS */
    /*            */
    
    /* BORDER */
    --header-border: 1px solid var(--accent-color);
}
