.hint {
    color: var(--hint-color);
    font-size: small;

    transition: all 0.3s ease;

    transform-origin: 0% 0%;

    pointer-events: none;
}
.highlightedHint {
    color: var(--accent-color);
}
.hintOverlap {
    transform: scale(1.2) translateY(20px);
}

.box {
    transition: all 0.3s ease;
    
    padding-bottom: 5px;

    color: var(--hint-color);
    border-bottom: 1px solid currentColor;

    position: relative;
}
.borderless {
    border: none;
}
.highlightedBox {
    /* border-bottom: 1px solid var(--subtitle-highlighted-color); */
}

.input {
    padding: 10px 0 0 0;
    border-radius: 0;
    font-family: inherit;
    outline: 0;
    border: 0;
    font-size: medium;
    color: var(--font-color);
    width: 100%; /* Добавлено */
    min-width: 0; /* Важно для flex-элементов */
}

/* Новый класс для переноса текста */
.wrap {
    white-space: pre-wrap; /* Перенос по словам с сохранением пробелов */
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Современная альтернатива word-wrap */
}

/* Для textarea вместо input, если нужно многострочное поле */
.textarea {
    resize: vertical;

    outline: 0;
    border: 0;

    font-family: inherit;
    font-size: medium;

    padding: 0;
    margin: 0;

    width: 100%; /* Добавлено */
    min-width: 0; /* Важно для flex-элементов */

    height: auto;
}

.icon svg {
    width: 30px;
    height: 30px;

    color: var(--hint-color);

    transition: all 0.3s ease;
}

.highlightedIcon svg {
    color: var(--accent-color);
}

.expander {
    position: absolute;

    bottom: -1px;

    width: 100%;

    color: var(--accent-color-hover);
    border: 1px solid currentColor;

    transition: all 0.3s ease;
    transform: scaleX(0);
}
.highlightedExpander {
    left: 0%;
    transform: scaleX(1);
    color: var(--accent-color);
}

.error,
.error svg {
    color: var(--dstu-error-color);
}

