.hint {
    color: var(--hint-color);
    font-size: small;

    transition: all 0.3s ease;

    transform-origin: 0% 0%;

    pointer-events: none;
}
.highlightedHint {
    color: var(--accent-color);
}
.hintOverlap {
    transform: scale(1.2) translateY(20px);
}

.box {
    transition: all 0.3s ease;
    
    padding-bottom: 5px;

    color: var(--hint-color);
    border-bottom: 1px solid currentColor;

    position: relative;
}
.borderless {
    border: none;
}
.highlightedBox {
    /* border-bottom: 1px solid var(--subtitle-highlighted-color); */
}

.input {
    padding: 10px 0 0 0;
    border-radius: 0;
    font-family: inherit;
}

.icon svg {
    width: 30px;
    height: 30px;

    color: var(--hint-color);

    transition: all 0.3s ease;
}

.highlightedIcon svg {
    color: var(--accent-color);
}

.expander {
    position: absolute;

    bottom: -1px;

    width: 100%;

    color: var(--accent-color-hover);
    border: 1px solid currentColor;

    transition: all 0.3s ease;
    transform: scaleX(0);
}
.highlightedExpander {
    left: 0%;
    transform: scaleX(1);
    color: var(--accent-color);
}

.error,
.error svg {
    color: var(--dstu-error-color);
}

