.expander {
    border: 2px solid var(--border-color);
    transition: all 0.3s ease;
}

.header {
    cursor: pointer;
    background: none;
    border: none;
}

.body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}