.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    
    width: var(--sidebar-width);
    height: 100vh;
    box-sizing: border-box;

    background-color: var(--dstu-dark-blue);
    color: white;
    
    z-index: var(--sidebar-z);
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

    overflow-x: hidden;
}
.sidebar:hover {
    background-color: var(--dstu-light-blue);
    width: var(--sidebar-hover-width);
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.3);
}

.logoContainer {
    height: 80px;
    align-self: stretch;
}
