.header {
    min-height: 40px;
    background: var(--header-bk-color);
    padding: 0 10px;

    border-bottom: var(--header-border);
}

.loginButton {
    background: none;
}
.loginButton:hover {
    filter: brightness(0.9);
}
.loginButton:active {
    filter: brightness(0.8);
}

.toggleTheme {
    cursor: pointer;
}