.btn {
    transition: all 0.12s ease-in;

    background: none;
    border-radius: 5px 0 0 5px;

    outline: 0;
    border: 0;

    height: 20px;

    color: var(--font-color);

    padding: 5px 0 5px 20px;

    text-decoration: none;
    font-size: 0.9rem;
}
.btn:hover {
    color: var(--accent-color);
}

.btn svg {
    width: 16px;
}

.title {
    font-family: inherit;
}

.active {
    background-color: var(--button-bk);
    color: var(--accent-color);
    border-right: 1px solid var(--accent-color);
}