.page {
    --body-width: 1280px;
    --header-hight: 60px;

    --navigation-bk-color: var(--body-bk-color);
    /* --border-color: var(--accent-color); */

    background-color: var(--bk-color);

    min-height: 100vh;
    padding-top: var(--header-hight);
}

.overlay {
    top: 0;
}

.header {
    height: var(--header-hight);

    border-bottom: 1px solid var(--border-color);

    background-color: var(--bk-color);
}
.headerTitle {
    width: calc((100% - var(--body-width)) / 2);
    left: 0;

    padding-right: 30px;
}
.headerContent {
    max-width: var(--body-width);

    padding-left: 60px;
}
.headerEndtitle {
    width: calc((100% - var(--body-width)) / 2);
    right: 0;

    padding-left: 30px;
}

.boder {
    
}
.navigation {
    width: calc((100% - var(--body-width)) / 2);
    left: 0;

    background-color: var(--navigation-bk-color);

    border-right: 1px solid var(--border-color);
}
.boderBodyMask {
    max-width: var(--body-width);
}
.contents {
    width: calc((100% - var(--body-width)) / 2);
    right: 0;
    
    border-left: 1px solid var(--border-color);
    
    background-color: var(--bk-color);
}

.navigation > :first-child,
.contents > :first-child {
    min-width: 280px;
}

.body {
    max-width: var(--body-width);
    width: 100%;

    padding: 40px 60px;
}
