.container {
    position: relative;
    width: 200px;

    padding: 10px;

    transition: all var(--transition-duration) ease;

    --border: 1px solid var(--disabled-accent-color);
    --shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    
    --transition-duration: 0.2s;

    box-sizing: border-box;
}
.container svg {
    width: 20px;
    height: 20px;
    color: var(--disabled-accent-color);
    transform: scale(1.3);
}
.container.focused {
    --border: 1px solid var(--accent-color);
    --shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.container.error {
    --border: 1px solid var(--error-color);
}
.container.focused .label,
.container.focused svg {
    color: var(--accent-color);
}
.container.error .label,
.container.error svg {
    color: var(--error-color);
}

.container.colorBox {
    background-color: var(--highlight-light);
}

.label {
    position: absolute;
    font-size: small;
    color: var(--disabled-accent-color);
    transition: all var(--transition-duration) ease;
}
.label.inline {
    top: -10px;
    left: 15px;
    
    padding: 0 3px;
}
.label.above {
    top: -20px;
    left: 0px;
}

.counter {
    position: absolute;
    font-size: small;

    bottom: -8px;
    right: 15px;
    padding: 0 3px;
}

.input {
    height: 100%;
    width: 100%;
    
    outline: none;
    border: none;
    
    font-family: inherit;
}

/* BORDER TYPES */

.container.none {
    border: 0;
}
.container.full {
    border: var(--border);
    box-shadow: var(--shadow);
}
.container.fullr {
    border-radius: 8px;
    border: var(--border);
    box-shadow: var(--shadow);
}
.container.underline {
    border-bottom: var(--border);
}
.container.borderFocusOnly {
    border: 1px solid transparent;
}
.container.borderFocusOnly.focused {
    border: var(--border);
    box-shadow: var(--shadow);
}

.borderless {
    border: none !important;
}
.shadowless {
    box-shadow: none !important;
}