.card {
    --card-width: 400px;
    --card-height: 560px;

    background-color: var(--body-bk-color);

    max-width: var(--card-width);
    max-height: var(--card-height);

    width: 100%;
    height: auto;

    border-radius: 10px;

    padding: 40px 60px;
}