.panel {
    min-height: 300px;
    padding: 30px;
}

.avatarGroup {
    
}

.dataGroup {
    
}

.avatar {
    width: 150px;
    height: 150px;
}

.globalEdit {
    padding: 5px 15px 5px 15px;
    font-size: small;
}