.modal {
    position: fixed;
    background-color: var(--modal-bk);
}

.headerContainer {
    position: relative;
}

.crossCloseButton {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 0;

    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: stretch;
}

.buttons {
    margin-top: auto;
}
.button {
    padding: 0 10px;
    width: 100%;
}

.generalButton {
    color: #000;
    background: #fff;
}
.generalButton:hover {
    filter: brightness(0.95);
}
.generalButton:active {
    filter: brightness(0.8);
}