.title {
    padding: 0 30px 0 0;
    border-right: 1px solid var(--border-color);
}

@media (max-width: 960px) {
    .h960 {
        display: none !important;
    }
    .login {
        padding: 0;
    }
    .flex10 {
        gap: 10px !important;
    }
    .flex0 {
        gap: 5px !important;
    }
    .title {
        padding: 0;
        border: 0;
    }
}