.page {
    background-color: var(--bk-color);
    min-height: 100vh;

    box-sizing: border-box;
}

.pageSidebarMargin {
    margin-left: var(--sidebar-width);
}
.page.headered {
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
}

.footerless {
    
}

.body {
    max-width: 1280px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    box-sizing: border-box;
}