.page {
    background-image: url(../../../assets/vectors/Background1.svg);
    background-position: center center;
    background-size: 400% 400%;
}

.container {
    height: 100vh;
}

.homeButton {
    background-color: var(--modal-bk);
    box-shadow: var(--panel-shadow);

    font-size: small;

    height: 35px;
}
.homeButton:hover {
    filter: brightness(0.95);
}
.homeButton:active {
    filter: brightness(0.9);
}